# Common env variables
LOCAL_REGISTRY=registry.dev:5005
LOCAL_TAG=latest
ONE_XMLRPC=http://192.168.150.1:2633/RPC2
ONE_AUTH=oneadmin:password
ONE_CSI_DEFAULT_DATASTORES=100,101
DEBUG_PORT=5000

# Workload Cluster Environment Variables
WORKLOAD_CLUSTER_NAME=capone-workload
WORKER_NODES=2
